{% extends 'base.html'%}
{% block content %}
<h2> Sublimach</h2>



<form action="send" method="POST" class="reply" enctype="multipart/form-data">{% csrf_token %}
    <h4>New post</h4>
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Post</button>
</form>
{% for i in messages %}
    <div class="postblock" id="{{i.number}}">
        <span class="title">
            {{i.title}}
        </span>
        <span class="postername">
            
            {%if i.user %}
                {{i.user}}
            {%else%}
                Anon
            {% endif%}
        </span>        
        <span class="postDate">
            {{i.published_date|date:"d/m/Y G:i:s"}}
        </span>
        <span class="number">
            <a href="#{{i.number}}"> &gt;&gt;{{i.number}}</a>
        </span>
        <br>
        <div>
            {%if i.img %}
                <img src="media/{{i.img}}">
            {% endif%}
        </div>
        <div class="post">
            {{ i.msg }}
        </div>
       
    </div>
{% endfor %}
{% endblock %}