{% extends 'base.html'%}
{% block content %}
<h1> Sublimach</h1>

<h1>New post</h1>

<form action="send" method="POST" class="post-form">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Save</button>
</form>
{% for i in messages %}
    <div class="postblock">
        <div>
            {{i.title}}
        </div>
        <div>
            {{i.user}}
        </div>
        <div>
            {{i.published_date}}
        </div>
        <div>
            {{ i.msg }}
        </div>
       
    </div>
{% endfor %}
{% endblock %}